<!DOCTYPE html>

<style>
	body {
		background: black;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#frame-buttons-row > button:not(:last-child) {
		margin-right: 20px;
	}

	button {
		background: none;
		border: 1px solid;
		cursor: pointer;
	}

	button:hover {
		background: #eee;
	}

	canvas {
		margin: 50px auto;
		display: block;
		border: solid 1px #eee;
		cursor: none;
	}
</style>

<canvas id="canvas" width="1000" height="1000"></canvas>

<script src="../../node_modules/simplex-noise/simplex-noise.js"></script>
<script type="module" src="canvas.js"></script>
